@import 'styles/helpers/mixins';

.update-row {
  width: 100%;
  display: block !important;
  position: absolute;
  border-bottom: solid 1px skyblue !important;
  opacity: 0;
  left: 0px;
  margin-top: 8px;
}
