@import 'helpers/_mixins.css';
@global-import 'react-sticky-table/dist/react-sticky-table.css';

.main {
  @mixin clearfix;
  .test {
    color: orange;
    @mixin reset-button;
    &:hover {
      color: blue;
      border-radius: 5px;
    }
    @media (width >= 500px) and (width <= 3200px) {
      color: red;
    }
  }
  @mixin test blue;
}
