@import 'helpers/_mixins.css';
@import 'base/_normalize.css';
@import 'base/_base.css';
@global-import 'react-sticky-table/dist/react-sticky-table.css';
@global-import 'react-tabs/style/react-tabs.css';
/* @import 'lib/popup';
@import 'lib/swiper'; */

:global {
  .react-tabs__tab--selected {
    background-color: $bg;
    color: white;
  }
}

.version {
  display: inline-block;
  position: absolute;
  bottom: 0px;
  right: 0px;
  color: white;
}
