@import 'helpers/_mixins.css';

$menu-height: 60px;
$bottom-height: 220px;

.main-wrap {
  width: 100%;
  height: 100%;
  color: white;
}
.menu {
  width: 100%;
  height: $menu-height;
  border: solid 1px $frame-border-color;
  border-bottom: none;
}
.information {
  width: 100%;
}
.members,
.inventory {
  height: 100%;
}
.order {
  width: 100%;
  height: $bottom-height;
  border: solid 1px $frame-border-color;
}
.pane-wrap {
  position: relative;
  height: calc(100% - $menu-height - $bottom-height);
}
:global {
  .Resizer {
    background: white;
    opacity: 0.2;
    z-index: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
  }

  .Resizer:hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
  }

  .Resizer.horizontal {
    height: 11px;
    margin: -5px 0;
    border-top: 5px solid rgba(255, 255, 255, 0);
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    cursor: row-resize;
    width: 100%;
  }

  .Resizer.horizontal:hover {
    border-top: 5px solid rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
  }

  .Resizer.vertical {
    width: 11px;
    margin: 0 -5px;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    cursor: col-resize;
  }

  .Resizer.vertical:hover {
    border-left: 5px solid rgba(0, 0, 0, 0.5);
    border-right: 5px solid rgba(0, 0, 0, 0.5);
  }
  .Resizer.disabled {
    cursor: not-allowed;
  }
  .Resizer.disabled:hover {
    border-color: transparent;
  }
}
