@import 'helpers/_mixins.css';

.popup {
  z-index: 2;
  background-color: rgb(235, 235, 235);
  height: 100%;
  width: 100%;
  .main {
    position: relative;
    padding: 10px 10px;
    font-size: 16px;
    color: black;
  }
  .title {
    background-color: #2a2af1;
    text-align: center;
    span {
      font-size: 18px;
      display: inline-block;
      padding: 5px 0px;
      color: $orange;
    }
  }
  .info-wrap {
    text-align: left;
    span {
      display: block;
    }
    .bold {
      font-size: 18px;
      font-weight: bold;
    }
    .orderType {
      color: white;
      padding: 5px 2px;
    }
  }
  .volume-wrap {
    @mixin clearfix;
    margin-top: 20px;
    span {
      display: block;
    }
    .item {
      width: 50%;
      float: left;
    }
    .values {
      text-align: right;
      float: left;
      width: 50%;
      padding: 0px 5px;
    }
  }
  .btn-wrap {
    display: inline-block;
    position: absolute;
    right: 20px;
    bottom: -80px;
    span {
      @mixin action-btn;
    }
  }
}
.changeVolPop {
  .btn-wrap {
    bottom: -50px;
  }
}
.sell {
  background-color: green;
}
.buy {
  background-color: red;
}
.diffVol-wrap {
  padding-top: 20px;
  span {
    display: inline-block;
    padding-right: 85px;
  }
  input {
    width: 100px;
    margin-right: 10px;
  }
}
