@import 'helpers/_mixins.css';

.order-wrap {
  height: 100%;
  :global {
    .react-tabs__tab-list {
      margin: 0px;
    }
    .order_tabs-wrap_8dIgX {
      margin-top: 5px;
    }
  }
}
.action-wrap {
  margin-left: 5px;
  .input-wrap {
    margin: 10px 0px;
    display: inline-block;
    width: 80%;
  }
  .action {
    display: inline-block;
    width: 18%;
    .btn {
      width: 40%;
      display: inline-block;
      border: solid 1px black;
      padding: 4px 10px;
      border-radius: 5px;
      margin-left: 5px;
      text-align: center;
      cursor: pointer;
    }
  }

  .buy {
    background-color: rgba(253, 0, 3, 1);
    &:hover {
      background-color: rgba(253, 0, 3, 0.5);
    }
  }
  .sell {
    background-color: rgba(3, 185, 1, 1);
    &:hover {
      background-color: rgba(3, 185, 1, 0.5);
    }
  }

  .item-wrap {
    display: inline-block;
    margin-right: 10px;
    > span {
      display: inline-block;
      width: 100%;
    }
    input {
      width: 100%;
    }
    .name {
      display: inline-block;
      border: solid 1px #5e5c67;
      text-align: center;
      background-color: #5e5c67;
      padding: 1px;
    }
  }
  .t1 {
    width: 25%;
  }
  .t1-1 {
    width: 10%;
  }
  .t2 {
    width: 25%;
    vertical-align: bottom;
    .stock-input-wrap {
      width: 100%;
      position: relative;
      .stock-filter {
        overflow: auto;
        position: absolute;
        top: -200px;
        width: 100%;
        height: 200px;
        background-color: black;
        z-index: 12;
        color: white;
      }
    }
  }
  .t3 {
    width: 10%;
  }
  .t4 {
    width: 10%;
  }
  .t5 {
    width: 10%;
  }
}

.info-wrap {
  // margin-top: 10px;
  margin-left: 5px;
  width: 80%;
  .item-wrap {
    margin-top: 2px;
    display: inline-block;
    width: 10%;
    > span {
      display: inline-block;
      width: 100%;
    }
  }
  .name {
    width: 20%;
  }
}

.setting-wrap {
  width: 100%;
  background-color: $focus;
  .env {
    display: inline-block;
    padding: 5px 10px;
    background-color: #afafa9;
    color: black;
  }
  img {
    cursor: pointer;
    display: inline-block;
    height: 32px;
    vertical-align: bottom;
  }
}
.tabs-wrap {
  margin-top: 15px;
  margin-left: 5px;
}

.up {
  color: red;
}
.down {
  color: green;
}

.order-popup {
  background-color: hsl(208, 99%, 27%);
  border: solid 2px black;
  height: 100%;
  width: 100%;
  .title {
    text-align: center;
    span {
      display: inline-block;
      font-size: 20px;
      padding: 5px 0px;
      color: $orange;
    }
  }
  .buy {
    background-color: rgb(252, 46, 46);
  }
  .sell {
    background-color: green;
  }
  .main {
    height: 200px;
    @mixin clearfix;
    .left {
      width: 30%;
      float: left;
      height: 100%;
      position: relative;
      .acc {
        position: absolute;
        display: inline-block;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
      }
    }
    .right {
      width: 70%;
      float: left;
      height: 100%;
    }
    .item {
      display: block;
      padding: 10px;
      span {
        display: inline-block;
        padding: 0px 10px;
      }
    }
    .s1 {
      color: yellow;
      font-size: 24px;
    }
    .s2 {
      color: white;
      font-size: 18px;
    }
  }
  .bottom {
    position: relative;
    .button-wrap {
      display: inline-block;
      position: absolute;
      bottom: -40px;
      right: 30px;
    }
    .btn {
      @mixin action-btn;
    }
  }
}

.hide {
  opacity: 0;
}
